@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #203540;
    overflow-x: hidden;
}

.box__line,
.container,
.box__line-item,
.players,
.box__top,.restart{
    display: flex;
}
.container,
.box__line-item{
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 420px;
    margin: auto;
    min-height: 100vh;
    flex-direction: column;
}
.box{
    max-width: 390px;
    max-height: 500px;
}
.box__line-item{
    border-radius: 10px;
    min-width: 110px;  
    height: 100px;
    margin: 10px;
    background-color: #3b5563;
    box-shadow: 0px 0px 10px #000;
    color: #FFF;
    cursor: pointer;
    font-size: 45px;
}
.box__line-item:hover{
    background-color: #203540;
}
.players{
    margin-top: 30px;
}
.item{
    min-width: 130px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 0 10px;
    font-size: 14px;
    min-height: 75px;
}
.players__player{
    background-color: #31C4BE;
}
.players__wins{
    background-color: #ccc;
}
.players__cpu{
    background-color: #F3B138;
}
.restart{
    text-align: center;
    background-color: #A8BEC9;
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}
.players__cpu-quantWins,
.players__player-quantWins{
    font-size: 35px;
}
.players__wins-name{
    font-size: 20px;
    padding-top: 9px;
}
.box__top{
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 15px;
}

.player__actual{
    background-color: #3b5563;
    color: #FFF;
    border-radius: 8px;
    font-size: 20px;
    padding: 5px 20px;
}
.players__colors{
    font-size: 30px;
}
.user{
    color: #31C4BE;
}
.cpu{
    color: #F3B138;
}